.blog_card{
    width: 350px;
    margin: 20px;
}

.blog_card img{
    width: inherit;
    border-radius: 15px;
    user-select: none;
}

.blog_card .category{
    font-weight: 200;
    color: var(--semiPink);
    padding: 5px 0;
}

.blog_card .title{
    font-weight: 500;
    padding: 0px 0;
}

.blog_card .description{
    font-size: 1.255em;
    font-weight: 200;
    padding: 10px 0;
}

.blog_card .description a{
    color: var(--semiDarkGray);
}